[Unit]
Description=autorun arduino czujniki
After=network.target \
      dev-serial-by\x2did-usb-1a86_USB_Serial-if00-port0.device \
      dev-serial-by\x2did-usb-Holybro_Pixhawk6C_450046001751333337363133-if00.device

Wants=dev-serial-by\x2did-usb-1a86_USB_Serial-if00-port0.device \
      dev-serial-by\x2did-usb-Holybro_Pixhawk6C_450046001751333337363133-if00.device

[Service]
Type=simple
User=uavcompanion
Group=uavcompanion

WorkingDirectory=/home/uavcompanion/uavproject
ExecStart=/home/uavcompanion/uavproject/venv/bin/python -u combined.py

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
