[Unit]
Description=UAV Companion Autostart
After=multi-user.target

[Service]
Type=simple
User=uavcompanion
Group=uavcompanion

WorkingDirectory=/home/uavcompanion/uavproject
ExecStart=/home/uavcompanion/uavproject/venv/bin/python -u combined.py

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
